.header__logo {
    display: flex;
    margin-bottom: 40px;
}

@media screen and (max-width: 882px) {
    .header__logo {
        margin-left: calc((100vw - 582px) / 2);
    }
}

@media screen and (max-width: 580px) {
    .header__logo {
        margin-left: calc((100vw - 282px) / 2);
        margin-bottom: 32px;
    }
}