.profilee-info__subtitle {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 0;
}

@media screen and (max-width: 882px) {
    .profilee-info__subtitle {
        align-self: center;
        font-size: 14px;
        line-height: 17px;
        margin-top: 14px;
    }
}