@import url(./_disabled/popup__submit-button_enabled.css);
@import url(./_disabled/popup__submit-button_disabled.css);

.popup__submit-button {
    width: calc(100% - 72px);
    margin-left: 36px;
    margin-top: 48px;
    margin-bottom: 43px;
    border-radius: 2px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    height: 50px;
}

.popup__submit-button:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.8);
}